body {
  font-family: Arial, sans-serif;
  background-image: url();

}

  h1 {
    text-align: center;
    color: #00fffb;
    animation: animateText 2s ease-in-out infinite alternate;   
  }

  h2{
    text-decoration:underline;
    color: #000000;
  }
    
  /* button {
    margin-top: 10px;
    text-align: center;
  }
   */
  #personal-details,
  #volunteering-experience,
  #Qualifications,
  #Availability {
    margin-top: 20px;
    font-size: 16px;
    background: rgb(57,115,162);
    background: linear-gradient(90deg, rgb(60, 124, 176) 17%, rgb(16, 91, 112) 76%);
    padding: 15px;
    border-radius: 20px;
    width: 400px;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 20px rgba(81, 158, 222, 0.7); /* Add border glow */
    color: white; 

  }
  

  #personal-details p,
  #volunteering-experience p,
  #Qualifications p,
  #Availability p {   
    padding: 3px;


  }
  @keyframes popup {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .card {
    /* Existing styles */
    animation: popup 0.5s ease forwards; /* Apply pop-up animation */
  }
  



  /* CSS styles for the progress bar */
  .progress {
    width: 30%;
    background-color: #ddd;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    /* Add glow effect */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.648);
    margin-left: 515px;
  }
  
  #progress-bar {
    height: 20px;
    background-color: #18b2ff;
    width: 0%;
    border-radius:0 0 20 0px;
    /* Add glow effect */
    box-shadow: 0 0 10px rgba(40, 211, 217, 0.903);
  }
  
  #progress-text {
    text-align: center;
    padding: 5px 0;
    
  }
  
  #cent {
    text-align: center;
  }
  









/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#start-button {
  animation: fadeIn 8s ease-in-out forwards, pulse 2.5s infinite alternate; /* Apply both animations */
}



.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 30px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
  margin-top: 10px;

}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
